// Generic ////////////////////////////////////

html, body, p, h1, h2, h3, div {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 18px; // == 1rem
}

body {
    min-height: 100%;
    background: #25252C; // Body background color
}

p, h1, h2, h3, div, button {
    color: white; // Default text color
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; // Default font
}

button {
    cursor: pointer;
}

img {
    margin: 0;
    padding: 0;
}

// Specific classes ////////////////////////////

.bg1 {
    background: #25252C;
}

.bg2 {
    background: rgb(65, 43, 63);
}

.artistInfo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.profilePicture {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.artistText {
    
}

.artistName {
    font-size: 2rem;
    font-weight: normal;
}

.artistDescription {

}


.projectSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.projectImageCarousel {
    width: 300px; // Default width / width in large window
    max-width: 100%; // Stay within window width (overrides width)
    background: blue;
    margin-bottom: 26px !important; // This removes the blank space below the image-symbolizing dot symbols
}

.projectInfo {
    max-width: 500px;
}

.projectTitle {
    font-size: 1.5rem;
    line-height: 1rem; // Removes space above text
}

.projectButtons {
}

.projectButton {
    padding: 3px 12px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-size: 1rem;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

// Plugin stuff ////////////////////////////////////

.flex-direction-nav a  {
    line-height: 40px; // This is a bug fix
}



