html, body, p, h1, h2, h3, div {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  min-height: 100%;
  background: #25252C;
}

p, h1, h2, h3, div, button {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

img {
  margin: 0;
  padding: 0;
}

.bodyGrid {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  -ms-grid-rows: 90px auto;
      grid-template-rows: 90px auto;
      grid-template-areas: "artistInfo navTabs" "artistInfo tabContents";
}

@media screen and (max-width: 1000px) {
  .bodyGrid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 200px 90px auto;
        grid-template-rows: 200px 90px auto;
        grid-template-areas: "artistInfo" "navTabs" "tabContents";
  }
}

.gridBox {
  border: 2px dotted rgba(119, 201, 123, 0);
}

.artistInfo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: artistInfo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 20px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.artistText {
  margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 1000px) {
  .artistText {
    margin: 0px 30px 0px 30px;
    max-width: 400px;
    width: calc(100% - 150px - 30px);
  }
}

.profilePicture {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.artistName {
  font-size: 2rem;
  font-weight: normal;
  line-height: 26px;
}

.artistDescription {
  margin-top: 20px;
}

.navTabs {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navTabs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 20px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navTab {
  width: 24%;
  border: 3px red solid;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 1rem;
  height: 46px;
}

.navTab:hover {
  background: red;
}

@media screen and (max-width: 750px) {
  .navTab {
    width: 48.5%;
    margin-bottom: 14px;
  }
}

.tabContents {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tabContents;
  border: 3px red solid;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  margin-left: 2px;
  margin-right: 2px;
}

@media screen and (max-width: 750px) {
  .tabContents {
    margin-top: 60px;
  }
}

.contentHeader {
  font-size: 1.5rem;
  margin: 0px 0px 20px 0px;
}

.projectContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media screen and (max-width: 750px) {
  .projectContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.projectImages {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media screen and (max-width: 750px) {
  .projectImages {
    width: 100%;
  }
}

.projectImage {
  width: 100%;
}

.projectImage:last-child {
  margin-top: 20px;
}

.projectInfo {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0px 0px 0px 60px;
  max-width: 500px;
  min-width: 200px;
}

@media screen and (max-width: 750px) {
  .projectInfo {
    margin: 0px 0px 0px 0px;
    min-width: 0px;
  }
}

.projectButtons {
  margin: 20px 0 0 0;
}

.projectButton {
  padding: 3px 10px;
  border: 1px white solid;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 1rem;
}

.projectButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.flex-direction-nav a {
  line-height: 40px;
}
/*# sourceMappingURL=style.css.map */